@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #34abfa;
  padding-top: 5%;
  font-size: 5px;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.iphone {
  position: relative;
  background: #202020;
  width: 45%;
  height: 0;
  padding-top: 95%;
  margin: 0 auto;
  border-radius: 3em;
}

.power {
  position: absolute;
  background: #202020;
  width: 13%;
  height: .5%;
  top: -.5%;
  right: 12%;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}

.lock {
  position: absolute;
  background: #202020;
  width: 1%;
  height: 5%;
  top: 12.5%;
  left: -1%;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
}

.volume {
  position: absolute;
  background: #202020;
  width: 1%;
  height: 4%;
  top: 23%;
  left: -1%;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
}

.volume.down{ top: 31%; }

.camera {
  position: absolute;
  top: 4%;
  left: 48.5%;
  background: #3f3f3f;
  width: 3%;
  height: 0;
  padding-top: 3%;
  border-radius: 50%;
}

.speaker {
  position: absolute;
  top: 7%;
  left: 42.5%;
  background: #3f3f3f;
  width: 15%;
  height: 0;
  padding-top: 3%;
  border-radius: 1em;
}



.text {
  opacity: 0;
  font-size: 1.25rem;
  text-align: center;
  animation: unhide 5s infinite alternate;
}

.screen {
  background: #ffffff;
  width: 90%;
  height: 75%;
  position: absolute;
  top: 12.5%;
  left: 5%;
  overflow: auto;
}

.button {
  position: absolute;
  bottom: 2.75%;
  left: 42.5%;
  background: #3f3f3f;
  /* border: 1px solid #3f3f3f; */
  width: 15%;
  height: 0;
  padding-top: 15%;
  border-radius: 50%;
}

.square {
  position: absolute;
  top: 27.5%;
  left: 27.5%;
  border: 2px solid #d7d7d7;
  border-radius: .3em;
  width: 45%;
  height: 45%;
}

@media screen and (min-width: 28em ) {
  body{ font-size: 8px; }
}

@media screen and (min-width: 34em ) {
  body{ font-size: 10px; }

}

@media screen and (min-width: 48em ) {
  body{ font-size: 14px; }
}


@keyframes lighten {
  0%, 45% { background: #2f2f2f; }
  65%, 100% { background: #f7f7f7; }
}

@keyframes unhide {
  0%, 55% { opacity: 0 }
  75%, 100% { opacity: 1 }
}



/*--- VÅR CSS ------------------------------------------ */

.header-top {
  background-color: #8CC63F;
  width: 100%;
  height: 30px;
}
.doppler-logo {
  margin: 0 auto;
  max-height: 70%;
}
.header-bottom {
  background-color: #4d4d4d;
  width: 100%;
  height: 30px;
  margin-bottom: 40px;
}


.item {
background-color: #FFF3D7;
width: 100%;
height: 100px;
margin-top: 5px;
margin-bottom: 5px;
display: inline-block;
z-index: -1;
}

.logo {
    height: 90%;
    width: 90px;
    border-radius: 50%;
    display: block;
    margin-top: 5px;
    margin-left: 5px;
    backface-visibility: hidden;
    position: relative;

    box-shadow: inset 0 0 0 0 rgba(200, 95, 66, 0.4),
    inset 0 0 0 0 16px rgba(255, 255, 255, 0.6),
    0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 0 0 rgba(200, 95, 66, 0.4),
    inset 0 0 0 0 16px rgba(255, 255, 255, 0.6),
    0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 0 0 rgba(200, 95, 66, 0.4),
    inset 0 0 0 0 16px rgba(255, 255, 255, 0.6),
    0 1px 2px rgba(0, 0, 0, 0.1);

    transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
}

.logo:hover {
    height: 320px;
    width: 100%;
    overflow: visible;
    margin: auto;
    z-index: 1;
    box-shadow: inset 0 0 0 1100px rgba(0, 0, 0, 0.8),
    0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 0 1100px rgba(0, 0, 0, 0.8),
    0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 0 1100px rgba(0, 0, 0, 0.8),
    0 1px 2px rgba(0, 0, 0, 0.1);

}

.logo.mcdonalds {
    background-color: #EA0100;
    border: 3px solid #B20808;
    float: left;
    clear: both;
}

.info {
    background-color: #FFF;
    margin: 40px 10px 40px 120px;
    position: absolute;

}

.info.mcdonalds {
    margin: 10px auto;
}

.logo.clasohlson {
    background-color: #0bb9e9;
    border: 3px solid #ffffff;
    float: left;
    clear: both;
}

.logo.ica {
    background-color: #fff;
    border: 3px solid #ccc;
    float: left;
    clear: both;
}

img {
    display: block;
    margin: 11px auto;
    max-height: 70%;
}

p {
    font-family: 'Signika', Helvetica, sans-serif;
    font-size: 1em;
}
