body {
  background-color: #e6e6e6;
}




.circle {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin: 10px;
}
.mcdonalds {
  background-color: #EA0100;
  border: 10px solid #B20808;
}
.clasohlson {
  background-color: #0BB9E9;
  border: 10px solid #ffffff;
}
.logo {
  width: 60%;
  height: 60%;
  position: relative;
  margin: 18% auto;
}
